<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input id="task_user_id" name="task[user_id]" type="hidden" value="<%= current_user.user_id %>" />
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <input id="task_duration_1i" name="task[duration(1i)]" type="hidden" value="<%= Date.current.year %>" />
    <input id="task_duration_2i" name="task[duration(2i)]" type="hidden" value="<%= Date.current.month %>" />
    <input id="task_duration_3i" name="task[duration(3i)]" type="hidden" value="<%= Date.current.day %>" />
    <ul class="inline-list"> 
      <li>Hours</li>
      <li><input id="task_duration_4i" name="task[duration(4i)]"></li> 
      <li>:</li>
      <li>Minutes</li>
      <li><input id="task_duration_5i" name="task[duration(5i)]"></li> 
    </ul>
  </div>
  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.date_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <input id="task_author" name="task[author]" type="text" value="<%= current_user.name+" "+current_user.lastname %>"/>
  </div>
  <div class="field">
    <%= f.label :checked %><br>
    <%= f.check_box :checked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
