<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task.duration %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @task.startdate %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Author:</strong>
  <%= @task.user.fullname %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= User.where(user_id: @task.responsible_id).take.fullname %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @task.checked %>
</p>
<% if user_signed_in? %>
  <% if current_user.user_id == @task.user_id %>
    <%= link_to 'Edit', edit_task_path(@task) %> | 
  <% end %>
<% end %>
<%= link_to 'Back', tasks_path %>
